In [2]:
!ls ../reports/Assignment-1/seed0*

../reports/Assignment-1/seed0-avrg.png
../reports/Assignment-1/seed0_ContactsPerHourReport.txt
../reports/Assignment-1/seed0_CovidStatsReport.txt
../reports/Assignment-1/seed0_CovidTransmissionReport.txt
../reports/Assignment-1/seed0_EncountersVSUniqueEncountersReport.txt
../reports/Assignment-1/seed0_MessageGraphvizReport.txt
../reports/Assignment-1/seed0_NodeDensityReport.txt
../reports/Assignment-1/seed0_TotalContactTimeReport.txt

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv("../reports/Assignment-1/seed0_CovidTransmissionReport.txt", sep="|")

In [8]:
df.head()

,message_id,from,to,creation_time,host_location,section,distance
M1,NaN,SM1,0.0,"(1555.00,0.00)",U-Bahn,NaN,NaN
M4,NaN,SN85,3.0,"(1555.00,0.00)",U-Bahn,NaN,NaN
M6,NaN,MB38,5.0,"(245.94,730.27)",Walking Areas,NaN,NaN
M6,MB38,MB35,37070.1,"(1036.26,803.70)",Walking Areas,819.321574,NaN
M6,MB38,SB27,39044.6,"(978.13,934.44)",Walking Areas,1063.107969,NaN

In [9]:
!cat ../reports/Assignment-1/seed0_CovidTransmissionReport.txt

message_id|from|to|creation_time|host_location|section|distance
M1||SM1|0.0000|(1555.00,0.00)|U-Bahn||
M4||SN85|3.0000|(1555.00,0.00)|U-Bahn||
M6||MB38|5.0000|(245.94,730.27)|Walking Areas||
M6|MB38|MB35|37070.1000|(1036.26,803.70)|Walking Areas|819.321574300453
M6|MB38|SB27|39044.6000|(978.13,934.44)|Walking Areas|1063.107968905614
M6|MB38|MB37|60751.6000|(1008.54,838.67)|Walking Areas|143.40394979344023
M6|MB38|SB32|66902.8000|(1127.39,1184.38)|Walking Areas|677.5349568056224
M1|SM1|SM14|83266.5000|(865.00,820.00)|Table 13|1030.5590521404517
M1|SM1|SM21|124958.9000|(865.00,820.00)|Table 13|459.04963011162414
M6|SB27|SB31|170775.4000|(1285.37,499.80)|Walking Areas|697.7845006602955
M6|SB27|MB34|172602.1000|(1395.68,295.33)|Walking Areas|784.111756663736
M1|SM1|SM17|184932.3000|(670.00,980.00)|Class 21|1320.4639336233308
M6|SB32|SB28|212375.9000|(1364.41,353.29)|Walking Areas|347.0490083363555
M6|SB27|MB36|214201.8000|(758.75,748.75)|Walking Areas|131.3960170268744
M1|SM14|SM12|237915.2000|(1047.24,1104.48)|Class 15|857.768298438284
M6|SB27|SB29|245313.1000|(465.00,725.00)|Table 2|1321.8434317669921
M6|SB27|SB26|260981.8000|(1170.05,713.57)|Walking Areas|984.2327508907451
M1|SM14|SM23|307192.1000|(1060.00,1095.00)|Class 15|1011.8514722984337
M6|SB27|SB30|307354.3000|(1400.76,285.91)|Walking Areas|126.49120374596589
M6|MB38|SB33|316186.4000|(1398.69,289.75)|Walking Areas|1229.0265503823478
M1|SM21|SM24|345712.2000|(790.00,645.00)|Class 11|217.74410820551384
M4|SN85|SN81|376801.7000|(855.00,860.00)|Table 18|987.9524280045067
M1|SM23|SM3|479241.6000|(1174.94,704.51)|Walking Areas|160.4912706837841
M1|SM23|SM18|485043.6000|(865.00,820.00)|Table 13|756.4515359354277
M1|SM17|SM22|489560.3000|(1305.18,463.08)|Walking Areas|239.4583770599002